In [1]:
import numpy as np               # linear algebra
import pandas as pd              # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns            #Statistical Data Visualization
import warnings
from IPython.display import Image, display

%pylab inline

import os

plt.style.use('seaborn-darkgrid')
sns.set(font_scale=2)
warnings.filterwarnings(action="ignore")

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
#pd.reset_option('max_columns')
#pd.reset_option('max_rows')

Populating the interactive namespace from numpy and matplotlib

In [2]:
donnees = pd.read_csv('Mall_Customers.xls', index_col='CustomerID')
donnees['homme'] = donnees.Gender.apply(lambda x : 1 if x=='Male' else 0)
donnees['femme'] = donnees.Gender.apply(lambda x : 0 if x=='Male' else 1)
donnees.drop(columns='Gender',inplace=True)
donnees.head()

            Age  Annual Income (k$)  Spending Score (1-100)  homme  femme
CustomerID
1            19                  15                      39      1      0
2            21                  15                      81      1      0
3            20                  16                       6      0      1
4            23                  16                      77      0      1
5            31                  17                      40      0      1

In [3]:
donnees.describe()

,Age,Annual Income (k$),Spending Score (1-100),homme,femme
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,38.850000,60.560000,50.200000,0.440000,0.560000
std,13.969007,26.264721,25.823522,0.497633,0.497633
min,18.000000,15.000000,1.000000,0.000000,0.000000
25%,28.750000,41.500000,34.750000,0.000000,0.000000
50%,36.000000,61.500000,50.000000,0.000000,1.000000
75%,49.000000,78.000000,73.000000,1.000000,1.000000
max,70.000000,137.000000,99.000000,1.000000,1.000000